:root{
    --bg: #141C2F;
    --container: #1f2a48;
    --text: #d4d4d4;
    --profile-info: #141C2F;
    --important-text: white;
    --link: #eeeeee;
    --box-shadow: rgba(31, 42, 72, 0.1);
    --after: #1b253f;
}