:root{
    --bg: #e6ebf8;
    --container: white;
    --text: #5E75A3;
    --profile-info: #F5F8FF;
    --important-text: #30343D;
    --link: #5E75A3;
    --box-shadown: rgba(230, 235, 248, 0.1);
    --after: #ebeef5;
}